@model FlightManager.Models.Flight

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Flight</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TakeOffTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TakeOffTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LandingTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LandingTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaneType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaneType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PilotName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PilotName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaneCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaneCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaneBusinessClassCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaneBusinessClassCapacity)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FlightID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
